<a href="https://colab.research.google.com/github/AGDSaubon/PLNG211-2-OLFU-QC/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Comment**

In [14]:
#This is a comment

**Python Variables**

In [ ]:
a = float(8)
c = "Ela"

**Type () function**

In [ ]:
print(type(c))
print(a)

<class 'str'>
8.0

**if Statements/Proper Indentation**

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

**Single/Double Qoute**

In [15]:
age = 18
if age < 21:
  print("Sorry, you have to be over 21 years old to enter")

Sorry, you have to be over 21 years old to enter

**Multiple Variables**

In [16]:
x,y,z = 21,19,24

print(x)
print(y)
print(z)

21
19
24

**Single Values to Multiple Variables**

In [17]:
x=y=z="Hi this sentence repeats"
print(x)
print(y)
print(z)

Hi this sentence repeats
Hi this sentence repeats
Hi this sentence repeats

**Output Variables**

In [11]:
firstName = "Ariese"
lastName = 'Saubon'
print("Your name is " + firstName + lastName)

Your name is ArieseSaubon

**Arithmetic Operations**

In [22]:
firstQues = "What is the remainder when 7 is divided by 2?"
print(firstQues)
a = 7%2
print(a)

secondQues = "\nWhat is the square root of 81?"
print(secondQues)
sqRoot = 81//2
print(sqRoot)

thirdQues = "\nWhat is the square of 7?"
print(thirdQues)
c = 7
print(c**2)

What is the remainder when 7 is divided by 2?
1

What is the square root of 81?
40

What is the square of 7?
49

**Assignment Operators**

In [23]:
c = 21
c+=3    
print(c)

24

**Comparison Operators**

In [24]:
i=5>2   #True
h = 3>5 #False
print(i)
print(h)

not(i or h)

True
False

False

**Identity Operators**

In [25]:
i is not h

True

**Bitwise Operators**

In [26]:
v = 10
v<<2

y = 2

y>>1

1